<!DOCTYPE html>
<html lang="en">

{% include "header.html" %}

<body>
{% include 'nav.html' %}
<br/>
<br/>
<div class="container">
	<div class="row">
		<div class="col-lg-8">
			<img src="/media/facepalm.gif" />
		</div>
		<div class="col-lg-4">
			<div class="page-header">
				<h1>4-ohh-4 Error</h1>
			</div>
			<p> Please refrain yourselves from sending us messages saying that site is not working.
			Please check yourself</p>
		</div>
	</div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
{% include 'footer.html' %}
</body>
</html>
