<!DOCTYPE html>
<html lang="en">

{% include "header.html" %}

<body>
{% include 'nav.html' %}
<br/>
<br/>
<div class="container">
        <div class="row">
                <div class="col-lg-8">
                        <img src="/media/facepalm.gif" />
                </div>
                <div class="col-lg-4">
                        <div class="page-header">
                                <h1>500 Error</h1>
                        </div>
                        <p> So Really the site is not working. please send me mail, if you are still seeing this message</p>
                </div>
        </div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
{% include 'footer.html' %}
</body>
</html>
