<!DOCTYPE html>
<html lang="en">

{% include "header.html" %}

<body>
{% include 'nav.html' %}
<br/>
<br/>
<div class="container">
	<div class="row">
		<div class="col-lg-8">
			<img src="/media/end.jpg" />
		</div>
		<div class="col-lg-4">
			<div class="page-header">
				<h1>You have successfully Completed all the levels</h1>
			</div>
			<p> Your quest is finished. Treasure is on the way. </p>
			<p> To claim your treasure register here.</p>
			<button class="btn btn-success btn-primary" >Click Here </button>
		</div>
	</div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
{% include 'footer.html' %}
</body>
</html>
