  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Treasurehunt @ IIT Bombay">
    <meta name="author" content="prithviraj billa">

    <title>Treasure Hunt | IIT Bombay</title>
    <!-- Bootstrap core CSS -->
    <link href='http://fonts.googleapis.com/css?family=Fascinate+Inline' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Gorditas' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="/static/bootstrap/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/static/bootstrap/css/social-buttons.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,500' rel='stylesheet' type='text/css'>
    <script src="/static/bootstrap/jquery.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>
    <style>
    h1
    {
        font-family: 'Open Sans', sans-serif;
    }
    body,h2,h3,h4,h5,h6,p
    {
        font-family: 'Open Sans', sans-serif;
    }
    </style>
    
    <!--
######## ########  ########    ###     ######  ##     ## ########  ########    ##     ## ##     ## ##    ## ######## 
   ##    ##     ## ##         ## ##   ##    ## ##     ## ##     ## ##          ##     ## ##     ## ###   ##    ##    
   ##    ##     ## ##        ##   ##  ##       ##     ## ##     ## ##          ##     ## ##     ## ####  ##    ##    
   ##    ########  ######   ##     ##  ######  ##     ## ########  ######      ######### ##     ## ## ## ##    ##    
   ##    ##   ##   ##       #########       ## ##     ## ##   ##   ##          ##     ## ##     ## ##  ####    ##    
   ##    ##    ##  ##       ##     ## ##    ## ##     ## ##    ##  ##          ##     ## ##     ## ##   ###    ##    
   ##    ##     ## ######## ##     ##  ######   #######  ##     ## ########    ##     ##  #######  ##    ##    ##        
    -->
  </head>

