<!DOCTYPE html>
<html lang="en">

{% include "header.html" %}

<body>
{% include 'nav.html' %}
<br/>
<br/>
<div class="container">
	<div class="row">
		<div class="col-lg-12">
		<table class="table table-bordered database">
		        <thead>
		          <tr>
		            <th align="center">Rank </th>
		            <th align="center">Name</th>
		            <th align="center">Level</th>
		          </tr>
		        </thead>
		        <tbody>
			        {% if u %}
		        	{% for i in u  %}
		        	<tr>
		        		<td align="center"># {{ forloop.counter }}</td>
		        		<td align="center"><img src="/media/{{i.profile_id.image}}" style="width:50px;height:50px">&nbsp;&nbsp;&nbsp;&nbsp; <a href="http://www.facebook.com/{{ i.profile_id.facebook_id }}" ><b>{{ i.profile_id.facebook_name }}</b></a>
		        		&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-default" href="https://www.facebook.com/dialog/send?app_id=210023619181880&link=http://treasurehunt.stab-iitb.org/treasure/&redirect_uri=http://treasurehunt.stab-iitb.org/&to={{ i.profile_id.facebook_id  }}&display=popup"> Message </a></td>
		        		<td align="center">{{ i.level_id }}</td>
		        	</tr>
		        	{% endfor %}
		        	{% endif %}
		        </tbody>
      </table>
		</div>
	</div>
</div>
      <script src="//cdnjs.cloudflare.com/ajax/libs/datatables/1.9.4/jquery.dataTables.min.js"></script>
    <script src="/static/datatables.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
      $('.datatable').dataTable({
        "sPaginationType": "bs_full"
      });
      $('.datatable').each(function(){
        var datatable = $(this);
        // SEARCH - Add the placeholder for Search and Turn this into in-line form control
        var search_input = datatable.closest('.dataTables_wrapper').find('div[id$=_filter] input');
        search_input.attr('placeholder', 'Search');
        search_input.addClass('form-control input-sm');
        // LENGTH - Inline-Form control
        var length_sel = datatable.closest('.dataTables_wrapper').find('div[id$=_length] select');
        length_sel.addClass('form-control input-sm');
      });
    });
    </script>

{% include 'footer.html' %}
</body>
</html>
