<!DOCTYPE html>
<html lang="en">

{% include "header.html" %}

<body>
{% include 'nav.html' %}




<div class="alert alert-info fade in" style="margin-bottom:-10px;text-align:center">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Hello Guys!</strong> The treasure hunt begins in 
        <script language="JavaScript">
        TargetDate = "1/21/2014 9:00 PM";
        CountActive = true;
        BackColor = "navyblue";
        CountStepper = -1;
        DisplayFormat = "%%M%% Minutes, %%S%% Seconds.";
        FinishMessage = "It is finally here!";
        </script>
        <script language="JavaScript" src="http://scripts.hashemian.com/js/countdown.js"></script>

</div>

{% include 'section.html' %}
{% include 'top10.html' %}
{% include 'footer.html' %}
</body>

</html>
