<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Treasure Hunt</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
            {% if request.user.id != None%}
                <li>
                    <a href="/"><i class="glyphicon glyphicon-user"></i> Participate</a>
                </li>
            {% endif %}
                <li>
                    <a href="/leaderboard/"><i class="glyphicon glyphicon-th-list"></i> Leader Board</a>
                </li>
                <li>
                    <a href="/help/" target="_blank" role="button">
                        <i class="glyphicon glyphicon-info-sign"></i> <span class="text-muted">Help</span>
                    </a>
                </li>
                <li>
                    <a href="/rules/" target="_blank" role="button">
                        <i class="glyphicon glyphicon-info-sign"></i> <span class="text-muted">Rules | Instructions</span>
                    </a>
                </li>

               {% if request.user %}
                <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-user"></i>&nbsp; &nbsp; {{ request.user.facebook_name }}<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/myscore/{{ request.user.id }}">My Profile</a></li>
                         <li><a href="/logout">Logout</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
            

<!--                 <li>
                    <a href="/myscore/" target="_blank" role="button">
                        <img src="/media/{{ user.image }}" >
                        My Score
                    </a>
                </li>
 -->            </ul>
        </div>
    </div>
</nav>
{{ image }}
