<!DOCTYPE html>
<html lang="en">

{% include "header.html" %}

<body>
{% include 'nav.html' %}

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<br/>
			{% if error %}
			<div class="alert alert-danger fade in">
		        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
		        <strong>Holy guacamole!</strong> Best check yo self, you're not looking too good.
		      </div>
		     {% endif %}
		    {% if success %}
			<div class="alert alert-info fade in">
		        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
		        <strong>Holy guacamole!</strong> Best check yo self, you're not looking too good.
		      </div>
		     {% endif %}
			<div class="page-header">
				<h1>{{ problem.title }}</h1>
			</div>
			<p> {{ problem.question }} </p>
			<img src="/media/{{ problem.picture }}" alt="" usemap="#treasure" class="img-rounded">
			{{ problem.other_data | safe}}


			<form role="form" method="post" action="/answer/">{% csrf_token %}
				<br/>
			  	<input type="text" class="form-control" placeholder="Answer here" name="answer" required/>
			  	<br/>
			  <button type="submit" class="btn btn-primary btn-lg">Big Submit Button</button>
			</form>
		<br/>
		<hr style="border-color:grey">
      <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Big Hints Button</a> &nbsp; &nbsp;
	        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	          <div class="modal-dialog">
	            <div class="modal-content">
	              <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	                <h2 class="modal-title">Hints for this Question</h2>
	              </div>
	              <div class="modal-body">
	              	{{ problem.hints | safe }}
	              </div>
	              <div class="modal-footer">
	                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	              </div>
	             </div><!-- /.modal-content -->
	          </div><!-- /.modal-dialog -->
	        </div><!-- /.modal -->
	</div>
</div>
</div>
{{ problem.map_data | safe }}
{{ problem.form_data | safe }}
{{ problem.other_data | safe}}
{% include 'footer.html' %}
<!-- {{ problem.clues }} -->
</body>
</html>