
<div class="jumbotron">
<div class="container">
    <h1>Tresure Hunt | Stab IITB</h1>
    <p>

    In the Treasure Hunt . . . intellectual men were paired off with great beauties, glamor with talent. In the course of the night's escapades anything could happen.
     Ahoy! Let's get started. To Begin, Login with Facebook.
        <p>
    {% include 'django_facebook/_facebook_js.html' %}
<form action="{% url 'facebook_connect' %}?facebook_login=1" method="post">
    <input type="hidden" value="/treasure" name="next" />
    <input type="hidden" value="/next" name="register_next" />
    <input type="hidden" value="/?p=error" name="error_next" />
    {% csrf_token %}
    <input onclick="F.connect(this.parentNode); return false;" type="image" src="{{ STATIC_URL }}django_facebook/images/facebook_login.png" />
</form>
    </p>
</div>
</div>