<div class="jumbotron">
<div class="container">
    <h1>Tresure Hunt | Stab IITB</h1>
    <p>
    <blockquote>
    <p>“Not all treasure‘s silver and gold, mate.”</p>
    <small>Jack Sparrow, Pirates Of The Caribbean: The Curse Of The Black Pearl</small>
    </blockquote>
     Ahoy! Let's get started. To Begin, Login with Facebook.
        <p>
    {% include 'django_facebook/_facebook_js.html' %}
<form action="{% url 'facebook_connect' %}?facebook_login=1" method="post">
    <input type="hidden" value="/treasure" name="next" />
    <input type="hidden" value="/next" name="register_next" />
    <input type="hidden" value="/?p=error" name="error_next" />
    {% csrf_token %}
    <input onclick="F.connect(this.parentNode); return false;" type="image" src="{{ STATIC_URL }}django_facebook/images/facebook_login.png" />
</form>
    </p>
</div>
</div>
